<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/style.css"  rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
    mui.init() ;
	</script>
   	
    </head>
	<body>
	
      <!--关于  -->
	<div id="about" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>
				</button>
				<h1 class="mui-center mui-title">关于寻物</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="about_logo">
							<li ><img src="../img/logo.png"/></li>
							<li class="banben">1.1.0 版</li>
						</ul>
						<ul class="mui-table-view about">
							<li class="mui-table-view-cell ">
								<a id="rate" class="mui-navigate-right">评分鼓励</a>
							</li>
							
							
							<li class="mui-table-view-cell">
								<a id="feedback-btn" href="#feedback" class="mui-navigate-right">问题反馈</a>
							</li>
							<li class="mui-table-view-cell ">
								<a id="update" class="mui-navigate-right">检查更新</a>
							</li>
							<li class="mui-table-view-cell">
								<a id="tel" class="mui-navigate-right">客服电话</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
