<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/style.css"  rel="stylesheet"/>
       <script src="../js/angular.min.js"></script>
    <script src="../js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    //初始化预加载详情页面
    mui.init({
	preloadPages: [{
		id: 'look_news',
		url: 'look_news.html'
	}]
});
//点击li 跳转页面
$(function(){
	var page = null;
	 $('#OA_task_1').on('tap', '.mui-slider-handle', function(event) {
	 	var elem = this;
		var li = elem.parentNode;
	 	var id = li.getAttribute("data");
	 	
	 	// 删除修改数字
	 	  $(this).find('.mui-badge').remove();
	 	  
	 	    $.ajax({
					url:'http://192.168.1.112/myApp/news_state.php',
					type:'POST',
					data:{
						'id':id         
					}
					});
	 	 //获得详情页面的id
     if(!page){
         page = plus.webview.getWebviewById('look_news');
      }	 	
	 	//传值给详情页面，通知加载新数据
	 	 mui.fire(page,'show',{
           id:id
         });
	 	//打开新闻详情
	 	 mui.openWindow({
               id:'look_news',
               show:{
    				duration:400
    			}
        });
      });  
      
    	//删除记录
    	mui('#OA_task_1').on('tap', '.mui-btn', function(event) {
					var elem = this;
					var li = elem.parentNode.parentNode;
					var id=li.getAttribute('data');
					mui.confirm('确认删除该条记录？', function(e) {
						if (e.index == 1) {
							li.parentNode.removeChild(li);
							$.ajax({
								url:'http://192.168.1.112/myApp/del_news.php',
//								url:'../del_news.php',
								type:'POST',
								data:{
									'id':id
								},
								success:function(data){
									mui.toast("删除成功");
								}
							});
						} else {
							setTimeout(function() {
								mui.swipeoutClose(li);
							}, 0);
						}
					});
				});
		});

    </script>
   	
    </head>
	<body ng-app="myApp">
	     <header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">校园寻物</h1>
		</header>
		<div class="mui-content news" ng-controller="myCtrl">
			<span class="news_info">全部消息</span>
 <ul class="mui-table-view news" id="OA_task_1" >
				<li class="mui-table-view-cell mui-media" ng-repeat="x in info" data="{{x.id}}">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle" >
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" ng-src="../picture/{{x.user_pic}}">
						<div class="mui-media-body">
							{{x.user_name}}   <span class="news_time">{{x.look_time}} </span><br />
							<p class='mui-ellipsis'>{{x.look_describe}}</p><span class="mui-badge news mui-badge-danger" ng-show="{{x.news_state}}">1</span>
						</div>
					</a>
				  </div>
				</li>
			</ul>
			</div>
			<script>
					var app=angular.module('myApp',[]);
					app.controller('myCtrl',function($scope,$http,$interval){	
					  $http({
				        method:'POST',
				        url:'http://192.168.1.112/myApp/news.php'
//                   url:'../news.php'
			          }).then(function successCallback(text){
			            $scope.info=text.data.records;			         
                       },function errorCallback(text){ 
                    	$scope.info="失败";
                      });

			    
                    
                
});
			</script>
	</body>
</html>
