<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/style.css"  rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
    mui.init() ;
  
	</script>
   	<style>
   		
   	</style>
    </head>
	<body class="mui-backdrop">
		<header class="mui-bar mui-bar-nav mui-backdrop">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					取消
				</button>
			<h1 class="mui-title">发布消息</h1>
			<button type="button" class="mui-btn mui-btn-outlined goods" disabled="disabled">发布</button>
		</header>
		<div class="mui-content">
		     	
<div id="release" class="mui-popover mui-popover-action mui-popover-bottom  mui-active" style="display: block;" >
			<div class="mui-card release" >
				
				<div class="mui-card-content" style="height: 200px;">
					<div class="mui-card-content-inner">
						
					</div>
				</div>
				<div class="mui-card-footer release">
					<a id="close" class="mui-action-back">
					<span class="mui-icon  mui-icon-closeempty"></span>
					</a>
				</div>
			</div>
		</div>
		</div>
		
		
	</body>
</html>

