<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/table.css" />
        <link rel="stylesheet" href="css/my.css" />
        <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
	</head>
	<style type="text/css">
        	.back{
			position: absolute;
			left: 94%;
			top:83px;
			color:#909090;
		}
		.layui-elem-field{
			margin-bottom: 50px;
		}
		.back.back1{
			display: none;
		}
        </style>

      <script type="text/javascript">
      	   $(function(){
    //搜素
       $("#search").click(function(event) {
       	var value=$(".layui-input").val();
       	if(value==''){
               alert("请输入用户名");
       	}else{
       		$.ajax({
     			url: 'admin_search.php',
     			type: 'POST',
     			dataType:"json",
     			data: {
     				'search': $(".layui-input").val()
     			},
     			success: function(text){
     				if(text==0){
                     alert("没查到该管理员的信息");
     				}else{
     				  $(".site-table tbody").empty();
     				   $(".back2").css('display','none');
     				  $(".back1").css('display','block');
     				  var html='';
     				  html+="<tr>";
     				  html+="<td><input type='checkbox'></td>";
     				  html+="<td>"+text[0]['admin_name']+"</td>";
     				  html+="<td>"+text[0]['admin_phone']+"</td>";
     				  html+="<td>"+text[0]['admin_pass']+"</td>";
     				  html+="<td>";
     				  html+="<a href='admin_update.php?num="+text[0]['id']+"' >修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;";
     				  html+="<a href='javascript:;' onclick='rem("+text[0]['id']+",this)'>删除</a>";

     				  html+="</td>";
     				  html+="</tr>";
     				   $(".site-table tbody").html(html);

     				}
     			}
     		})
       	}
        	
     });
       //返回
       $(".back").click(function(event) {
       	location.href="admin_list.php";
       });

})
      	   //删除
		function rem(id,obj){
			var flag=confirm("确定删除?");
			if(flag==true){
				$.ajax({
					url: 'admin_del.php',
					type: 'POST',
					data: {
						'id': id
					},
					success: function(text){
						if(text==1){
							$(obj).parents('tr').remove();
							layer.msg("删除成功"); 
						}
					}
				})
			}
		}
      </script>
	<body>
		<div class="admin-main">
				
			<fieldset class="layui-elem-field">
				<legend>管理员列表</legend>
				<form class="layui-form" action="">
			   <div class="layui-form-item">
					<div class="layui-input-block search">
						<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
					<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
					<i class="layui-icon">&#xe615;</i> 搜索
				</a>
					</div>
				<a href="javascript:;" class="back back1">返回</a>
				<a href="javascript:history.go(-1);" class="back back2">返回</a>
				</div>
				
				</form>
				<div class="layui-field-box">
					<table class="site-table table-hover">
						<thead>
							<tr>
								<th><input type="checkbox" id="selected-all"></th>
								<th>用户名</th>
								<th>手机号</th>
								<th>密码</th>
								<th>操作</th>	
							</tr>
						</thead>
						<tbody>
						 {#foreach item=admin from=$list#}
							<tr>
								<td><input type="checkbox"></td>
								<td>{#$admin['admin_name']#}</td>
								<td>{#$admin['admin_phone']#}</td>
								<td>{#$admin['admin_pass']#}</td>
								<td>
									<a href="admin_update.php?id={#$admin['id']#}
									">修改</a>&nbsp;&nbsp;|
								<a href="javascript:;" onclick="rem({#$admin['id']#},this)">删除</a>
								</td>
							</tr>
							{#foreachelse#}

							<tr>
								<td>暂无消息</td>
							</tr>
								
       {#/foreach#}
					
						</tbody>
					</table>

				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page" name="page">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="plugins/layui/layui.js"></script>
		<script>
			layui.config({
				base: 'plugins/layui/modules/'
			});

			layui.use(['icheck', 'laypage','layer'], function() {
				var $ = layui.jquery,
					laypage = layui.laypage,
					layer = parent.layer === undefined ? layui.layer : parent.layer;
				$('input').iCheck({
					checkboxClass: 'icheckbox_flat-green'
				});

				//page
			laypage({
					cont: 'page',
					pages: '{#$maxpage#}' //总页数
						,
					groups:5//连续显示分页数
						,
					curr:'{#$currentPage#}' //当前页数
					,
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							//layer.msg('第 '+ obj.curr +' 页');
							window.location.href='student_list.php?page='+curr;
						}
					}
				});
;

		

			});
		</script>
	</body>

</html>