<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/table.css" />
		<script type="text/javascript" src="js/jQuery.js"></script>
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field" >
				<legend>寻物列表</legend>
				<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="selected-all"></th>
							<th>用户</th>
							<th>物品名称</th>
							<th>描述</th>
							<th>联系电话</th>
							<th>状态</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						{#foreach item=info from=$rec#}
						<tr >
							<td><input type="checkbox"></td>
							<td >{#$info['user_phone']#}</td>
							<td>{#$info['look_name']#}</td>
							<td>{#$info['look_describe']#}</td>
							<td>{#$info['look_phone']#}</td>
							<td>{#$info['look_state']#}</td>
							<td>{#$info['look_time']#}</td>
						</tr>
						{#/foreach#}

					</tbody>
				</table>

			</div>
			</fieldset>
		</div>
	</body></html>