<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="style/css/style.css" />
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="style/js/jquery.js"></script>
<script src="style/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
  (function($){
    $(window).load(function(){
      
      $("a[rel='load-content']").click(function(e){
        e.preventDefault();
        var url=$(this).attr("href");
        $.get(url,function(data){
          $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
          //scroll-to appended content 
          $(".content").mCustomScrollbar("scrollTo","h2:last");
        });
      });
      
      $(".content").delegate("a[href='top']","click",function(e){
        e.preventDefault();
        $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
      });
      
    });
  })(jQuery);
</script>
<style type="text/css">
  .search{
    position: absolute;
    border: 1px solid #abadb3;
    width: 200px;
    height: 33px;
    left: 65%;
    top: 18px;
  }
  .input_l{
    height: 27px;
    border: none;
    background:none;
    padding-left: 5px;
  }
  .input_r{
    position: absolute;
        height: 33px;
    left: 78%;
    width: 44px;
    border: none;
   background: none;
    background-image: url(style/images/search.png);
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
</head>
<body>
<!--header-->
<header>
 <h1><img src="style/images/logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="../index.php" target="_blank" class="website_icon">站点首页</a></li>
  <!-- <li><a href="#" class="admin_icon">DeathGhost</a></li>
  <li><a href="#" class="set_icon">账号设置</a></li> -->
  <li><a href="login.php" class="quit_icon">安全退出</a></li>
 </ul>
</header>

<!--aside nav-->
{#include "menu.html"#}
<section class="rt_wrap content mCustomScrollbar">
 
<section>
      <h2><strong style="color:grey;">商品列表</strong></h2>
       <div class="search">
       <form action="ad_search.php" method="post">
       <input type="text" name="search" class="input_l" placeholder="Search">
       <input type="submit" name="sub" class="input_r" value="">
       </form>
       </div>
       <table class="table" style="width: 898px" >
       <tr>
        <th>商品名称</th>
        <th>商品信息</th>
        <th>商品分类</th>
        <th>商品风格</th>
        <th>性别</th>
        <th>价格</th>
        <th style="width: 120px">操作</th>
       </tr>
       {#foreach item=goods from=$goodslist#}
       <tr>       
        <td>{#$goods['goods_name']#}</td>
        <td style="width:265px;"><div class="cut_title ellipsis">{#$goods['goods_content']#}</div></td>
        <td>{#$goods['classname']#}</td>
        <td>{#$goods['stylename']#}</td>
        <td>{#$goods['goods_sex']#}</td>
        <td>{#$goods['goods_price']#}￥</td>
        <td>
        <a href="goods_update.php?id={#$goods['goods_id']#}">修改</a>
         <a href="#" onclick="javescript:if(confirm('确定删除？')) location='goods_del.php?id={#$goods['goods_id']#}'">删除</a>
        </td>
       </tr>
       {#foreachelse#}
          <tr>
            <td colspan="5">暂无商品信息</td>
          </tr>
    
    {#/foreach#}
    
      </table>
     <aside class="paging" style="margin: 7px 197px;">
       <a href="ad_search.php?page=1&search={#$search#}">第一页</a>
       {#if $maxpage>4#}
       <a href="ad_search.php?page=1&search={#$search#}">1</a>
       <a href="ad_search.php?page=2&search={#$search#}">2</a>
       <a href="ad_search.php?page=3&search={#$search#}">3</a>
       <a>…</a>
       <a href="ad_search.php?page={#$maxpage#}&search={#$search#}">{#$maxpage#}</a>
       {#else#}
        {#foreach name=page from=$maxarray item=index#}
         <a href="ad_search.php?page={#$index#}&search={#$search#}">{#$index#}</a>
        {#/foreach#}
       {#/if#}
       <a href="ad_search.php?page={#$maxpage#}&search={#$search#}">最后一页</a>
      </aside>

</section>
</body>
</html>

