<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="index.php">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>商品信息</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="goods_list.php">商品列表</a></dd>
    <dd><a href="goods_add.php">添加商品</a></dd>
    <dd><a href="class_list.php">商品分类</a></dd>
    <dd><a href="class_add.php">添加分类</a></dd>
    <dd><a href="style_list.php">商品风格</a></dd>
    <dd><a href="style_add.php">添加风格</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>用户管理</dt>
    <dd><a href="user_list.php">用户列表</a></dd>
    <dd><a href="user_add.php">添加用户</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>管理员管理</dt>
    <dd><a href="aduser_list.php">管理员列表</a></dd>
    <dd><a href="aduser_add.php">添加管理员</a></dd>
    <dd></dd> 
    <dd></dd> 
   </dl>
  </li>
  <li style="height:20px">
   <p class="btm_infor">© 小菡菡 版权所有</p>
  </li>
 </ul>
</aside>