<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/css/common.css">
	<link rel="stylesheet" type="text/css" href="style/css/conn.css">
	<link rel="stylesheet" type="text/css" href="style/css/goods.css">
	<script type="text/javascript" src="style/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="style/js/common.js"></script>
</head>
<body>
  {#include "head.html"#}
    <hr class="wm_hr" id="wm_hr">
  <div style="height: 3060px;" class="body_goods">
  
    <div class="woman_head">
      <div class="woman_head_l" id="cellect">我的收藏</div>
      <div class="woman_head_r" id="woman_head_r">全部宝贝</div>
    </div>
     <div class="wgoods_list" >
      <ul>
      {#foreach item=collect from=$collectgood#}
       <li>
        <div class="gw_img">
          <img src="{#$collect['collect_img']#}">
        </div>
        <div class="gw_content">
          <a href="#">{#$collect['collect_content']#}</a>
        </div>
        <div class="gw_price"><b>￥{#$collect['collect_price']#}</b></div>
        <div class="gw_cart" style="top:0px">
          <a href="#" onclick="javescript:if(confirm('确定删除？')) location='collectdel.php?id={#$collect['collect_id']#}'"><img src="style/img/del.png" ></a>
        </div>
        <div class="gw_celloct" style="top:-26px;">
          <a href="#" onclick="javascript:location='cartcl.php?id={#$collect['collect_id']#}'"><img src="style/img/cart.png"></a>
        </div>
      </li>
    {#/foreach#}
    </ul>
  </div>
</div>
 <div class="fenye">
      <ul>
         <li><a href="collect.php?page=1">第一页</a></li>
          {#if $maxpage>4#}
         <li><a href="collect.php?page=1">1</a></li>
         <li><a href="collectphp?page=2">2</a></li>
         <li><a href="collect.php?page=3">3</a></li>
         <li><a href="collect.php?page=4">4</a></li>
        <!--  <li><a href="other.php?page=5">5</a></li> -->
         <li><a href="#">....</a></li>
         <li><a href="collect.php?page={#$maxpage#}">{#$maxpage#}</a></li>
          {#else#}
        {#foreach name=page from=$maxarray item=index#}
         <li><a href="collect.php?page={#$index#}">{#$index#}</a></li>
        {#/foreach#}
       {#/if#}
         <li><a href="collect.php?page={#$maxpage#}">最后一页</a></li>
      </ul>
   </div>
{#include "footer.html"#}
</body>
</html>