
<div class="footer" >
	<div class="footer_top">
		<div class="car">
			<img src="style/img/hcar.png">
		</div>
		<div class="car_zi">免费送货</div>
		<div class="phone">
			<img src="style/img/phone.png">
		</div>
		<div class="phone_zi">打电话给我们 ！6666-9999-8888</div>
	</div>
	<div class="footer_mid">
		<div class="footer_mid1">
			<img src="style/img/xf.png">
			<span>消费者保障</span>
			<ul>
				<li style="width: 60px">保障范围</li>  
				<li style="width: 101px">退货退款流程</li>
				<li style="width: 60px">服务中心</li>
				<li style="width: 90px">更多特色服务</li>
			</ul>
		</div>
		<div class="footer_mid2">
			<img src="style/img/xs.png">
			<span>新手上路</span>
			<ul>
				<li style="width: 70px">新手专区</li>
				<li style="width: 70px">消费警示</li>
				<li style="width: 70px">交易安全</li>
				<li style="width: 111px">24小时在线帮助</li>
				<li style="width: 60px">免费开店</li>
			</ul>
		</div>
		<div class="footer_mid3">
			<img src="style/img/fk.png">
			<span>付款方式</span>
			<ul  style="width: 200px">  
				<li style="width: 70px">快捷支付</li>
				<li style="width: 70px">信用卡</li>
				<li style="width: 60px">余额宝</li>
				<li style="width: 70px">蚂蚁花呗</li>
				<li style="width: 70px">货到付款</li>
			</ul>
		</div>
		<div class="footer_mid4">
			<img src="style/img/xp.png">
			<span>小铺特色</span>
			<ul>
				<li style="width: 60px">旺信</li>
				<li style="width: 60px">大众评审</li>
				<li style="width: 60px">B格指南</li>
			</ul>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="footer_bottom_left">
			版权@2016 。小菡菡所有权利
		</div>
		<div class="footer_bottom_right">
			
			<ul style="position: absolute;left: 9%;top:0px">
				<li style="width: 5px;margin-left: 40px">|</li>
				<li style="width: 5px;margin-left: 88px">|</li>
				<li style="width: 5px;margin-left: 88px">|</li>
				<li style="width: 5px;margin-left: 79px">|</li>
			</ul>
			<ul>
				<li>关于我们</li>
				<li>交付和回报</li>
				<li>条款和条件</li>
				<li>联系我们</li>
				<li><a href="admin/login.php" style="color: #87d8eb;text-decoration: none;">后台管理</a></li>
			</ul>
		</div>
	</div>
</div>
