<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/css/common.css">
	<link rel="stylesheet" type="text/css" href="style/css/conn.css">
	<link rel="stylesheet" type="text/css" href="style/css/goods.css">
	<script type="text/javascript" src="style/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="style/js/common.js"></script>
  <!-- <script type="text/javascript">
     $(document).ready(function(){
             $("#collect").click(function(){
              $.ajax({type:"GET",url:"wcollect.php?id={#$wgood['goods_id']#}",success:function(result){
      alert('成功');
  }});
             });
     });
  </script> -->
</head>
<body>
{#include "head.html"#}
<hr class="wm_hr">
<div class="body_goods">
   <div class="woman_head">
      <div class="woman_head_l">女性 </div>
 <!--      <div class="woman_head_r">毛线帽</div> -->
   </div>
   <div class="wm_mid">
   	 <ul>
   	 	<li>综合排序</li>
   	 	<li>销量</li>
   	 	<li>人气</li>
   	 	<li>信用</li>
   	 	<li>价格</li>
   	 	<li>新品</li>
   	 </ul>
   </div>
   <div class="wgoods_list">
   	    <ul>
          {#foreach item=wgood from=$wgoods#}
   	    	<li>
   	    		<div class="gw_img">
						<a href="goods_show.php" onclick="javascript:location='goods_show.php?id={#$wgood['goods_id']#}'"><img src="{#$wgood['goods_img']#}"></a>
					</div>
					<div class="gw_content">
						<a href="#">{#$wgood['goods_content']#}</a>
					</div>
					<div class="gw_price"><b>￥{#$wgood['goods_price']#}</b></div>
				 {#if $namearray[1]==0#}
          <div class="gw_celloct">
            <a href="login.php"  onClick="return confirm('亲，你还没有登录呦！');"><img src="style/img/collect.png"></a>
          </div>
          <div class="gw_cart">
            <a href="login.php"  onClick="return confirm('亲，你还没有登录呦！');"><img src="style/img/cart.png"></a>
          </div>
          {#elseif $namearray[1]==1#}
            <div class="gw_celloct">
            <a href="#" id="collect" onclick="javascript:location='wcollectcl.php?id={#$wgood['goods_id']#}'"
><img src="{#$wgood['col']#}"></a>
          </div>
          <div class="gw_cart">
            <a href="#" onclick="javascript:location='wcartcl.php?id={#$wgood['goods_id']#}'"><img src="style/img/cart.png"></a>
          </div>
          {#/if#}
   	    	</li>
            {#/foreach#}
   	    </ul>
   </div>
   </div>
   <div class="fenye">
      <ul>
         <li><a href="woman.php?page=1">第一页</a></li>
          {#if $maxpage>6#}
         <li><a href="woman.php?page=1">1</a></li>
         <li><a href="woman.php?page=2">2</a></li>
         <li><a href="woman.php?page=3">3</a></li>
         <li><a href="woman.php?page=4">4</a></li>
         <li><a href="woman.php?page=5">5</a></li>
         <li><a href="#">....</a></li>
         <li><a href="woman.php?page={#$maxpage#}">{#$maxpage#}</a></li>
          {#else#}
        {#foreach name=page from=$maxarray item=index#}
         <a href="woman.php?page={#$index#}">{#$index#}</a>
        {#/foreach#}
       {#/if#}
         <li><a href="woman.php?page={#$maxpage#}">最后一页</a></li>
      </ul>
   </div>
   {#include "footer.html"#}
</body>
</html>